venv/
__pycache__/
.env
*.pyc
instance/
bin/
include/
lib/
lib64/
lib64
pyvenv.cfg
migrations/versions/df7660bef17c_fix_user_id_autoincrement.py
migrations/versions/08283eef0511_routes_fix.py
migrations/versions/80c190f9cd13_initial_migration.py
migrations/script.py.mako
migrations/README
migrations/env.py
migrations/alembic.ini
