.slideshow-container {
    position: relative;
    width: 50%;
    max-width: 500px;
    height: 300px;
    margin: auto;
    overflow: hidden;
    border-radius: 15px;
    opacity: 0.8;
    margin-top: 15px;
}

.slideshow-container img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
    object-position: center top;
    transition: filter 0.3s ease-in-out;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    transform: scale(1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}
body {
    background: #87223e;
    background-size: 300% 300%;
    animation: gradientAnimation 10s ease infinite;
    text-align: center;
    color: white;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
.container {
    width: 80%;
    margin: auto;
    padding: 30px 0;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
    font-weight: bold;
}

.about-description {
    max-width: 700px;
    margin: 30px auto 60px;
    font-size: 18px;
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 10px;
}

.short-title {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    margin-top: 30px; 
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 10px;
}

.team {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;  
    margin-top: 30px; 
    margin-bottom: 50px; 
}

.member {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.6);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 320px;
    transition: transform 0.3s, background 0.3s;
    text-align: left;
    backdrop-filter: blur(6px);
    opacity: 0.9;
}

.member:hover {
    transform: translateY(-10px);
    background: rgba(255, 255, 255, 0.8);
}

.member a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    flex-grow: 1;
}

.member img {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
    border: 4px solid;
}

.member:nth-child(1) { background-color: #cd918b; }
.member:nth-child(2) { background-color: #cd918b; }
.member:nth-child(3) { background-color: #cd918b; }
.member:nth-child(4) { background-color: #cd918b; }

h2 {
    font-size: 22px;
    margin: 0;
    color: white;
}
/* Header Navigation */
header {
    font-family: 'Poppins', sans-serif;
    background-color: #27030f;
    padding: 15px 0;
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}