body {
    font-family: 'Poppins', sans-serif;
    background-size: 300% 300%;
    animation: gradientAnimation 10s ease infinite;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #27030f;
}

header {
    font-family: 'Poppins', sans-serif;
    background-color: #27030f;
    padding: 15px 0;
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: left;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    transition: 0.3s;
}

nav ul li a:hover,
nav ul li a.active {
    text-decoration: underline;
    color: #7f7b46;
}

.banner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 60px;
    
}

.profile-container {
    width: 60%;
    max-width: 600px;
    margin: 50px auto;
    background: linear-gradient(135deg, #ac7a74,#cd918b ); /* Add a colorful gradient */
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid white;
    margin-bottom: 15px;
}

h1 {
    font-size: 28px;
    margin-bottom: 5px;
    color: #c0ba69;
}

.role {
    font-size: 18px;
    font-weight: bold;
    color: #6d6a3c;
}

.bio p {
    font-size: 15px;
    line-height: 1.6;
    max-width: 500px;
    margin: auto;
}

h2 {
    font-size: 20px;
    margin-top: 20px;
    color: #6d6a3c;
}

.interests {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
}

.interest-item {
    width: 45%;
    text-align: center;
}

.interest-item img {
    width: 100%;
    max-width: 200px;
    border-radius: 10px;
    border: 3px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.interest-item p {
    font-size: 15px;
    margin-top: 10px;
}

.links {
    margin-top: 20px;
}

.links a {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    font-size: 14px;
    color: white;
    background: #b2ca78;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s ease-in-out;
}

.links a:hover {
    background: #ffeb99;
}